body {
    background-color: rgb(214, 214, 214);
}

.galeria-imagenes img {
    width: 150px;
    height: auto;
}

.galeria {
    display: flex;
    width: 1200px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.galeria-imagenes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}